.top-nav-root{
    display:flex;
    justify-content: space-around;
    padding:.6rem .2rem;
    .top-nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0 0 .5rem 0;
        width:2.8rem;

        .top-nav-item-text{
            font-size: .8rem;
            color:black;
        }
        .top-nav-item-img{
            img{
                display: block;
                width:1.5rem;
                height:1.5rem;
            }
            margin-bottom:.4rem;
        }
        .top-nav-item-bottom{
            margin-top:.4rem;
            width:2rem;
            height:.1rem;
            background: red;
        }
    }
}