.home-root{
    //给footnav留下空间
    padding-bottom: 2.5rem;
    p{
        color:black;
        font-size: .8rem;
    }

    .under-search{
        display: flex;
        align-items: center;
        font-size: .6rem;
        margin:0rem .6rem .4rem ;
        .under-search-left{
            flex-grow: 1;
            text-align: left;
        }
        .under-search-right-text{
            p{
                color:orangered;
            }
        }
        .under-search-right-image{
            display: flex;
            align-items: center;
            margin-left:.3rem;
            img{
                height:1rem;
                display: block;
            }
        }
    }
}