.ticket-hot-root{
    text-align: left;
    .title1{
        font-size:.8rem;
        font-weight: 800;
        margin:.4rem .6rem 0 .6rem;
    }
    .title2{
        font-size:.8rem;
        font-weight: 800;
        margin:.4rem .6rem 0 .6rem;
    }
    .attention{
        display: flex;
        overflow: auto;   
        .outstanding{
            color:orangered;
            display:inline;
        }  
        .attention-item{
            position:relative;
            display: flex;
            padding:2rem .5rem 1rem .5rem;
            .date{
                font-size:.6rem;
                position:absolute;
                top:.5rem;
                left:.5rem;;
                width:6rem;
                height:1.5rem;
                z-index:99;
            }
            .border{
                position:absolute;
                top:.8rem;
                left:4.5rem;
                width:11rem;
                height:9.3rem;
                border-top:solid gray .02rem;
                border-right:solid gray .02rem;
            }
            .attention-image{
                img{
                    display: block;
                    height:8rem;
                    width:6rem;
                }
            }
            .attention-content{
                margin-left: .6rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width:8rem;
                div{
                    font-size:.6rem;
                    color:gray;
                }
                div.cnTitle{
                    color:inherit;
                    font-size: .7rem;
                    font-weight: 700;

                }
                div.yushou{
                    display: flex;
                    .pre-yushou{
                        width:4rem;
                        height:1.5rem;
                        border-radius: .75rem;
                        background:rgb(101,157,14);
                        color:white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .play-hint{
                        width:4rem;
                        height:1.5rem;
                        border-radius: .75rem;
                        border:solid rgb(101,157,14) .03rem;
                        color:rgb(101,157,14);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .yugao-video{
                        margin-left: .3rem;
                        width:4rem;
                        height:1.5rem;
                        border-radius: .75rem;
                        border:solid rgb(101,157,14) .03rem;
                        color:rgb(101,157,14);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        
    }
    .coming{
        margin-top:.4rem;
        font-size:.6rem;
        .month{
            margin-bottom:.4rem;
            padding:0 0 .4rem 0;
            margin-left:.4rem;
            border-bottom:solid gray .02rem;
        }
        .outstanding{
            color:orangered;
            display:inline;
        }
        .coming-item{
            display:flex;
            margin:0 0 0 .4rem;
            .coming-item-day{
                width:1.8rem;
            }
            .coming-item-right{
                display: flex;
                padding:.4rem 0;
                border-bottom: solid gray .01rem;
            }
            .coming-item-image{
                margin-left:.4rem;
                img{
                    display: block;
                    height:6rem;
                    width:4rem;
                }
            }
            .coming-item-content{
                margin-left: .6rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width:8rem;
                div{
                    font-size:.6rem;
                    color:gray;
                }
                div.cnTitle{
                    color:inherit;
                    font-size: .7rem;
                    font-weight: 700;

                }
                div.yushou{
                    display: flex;
                    .pre-yushou{
                        width:3.5rem;
                        height:1.3rem;
                        border-radius: .75rem;
                        background:rgb(101,157,14);
                        color:white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .play-hint{
                        width:3.5rem;
                        height:1.3rem;
                        border-radius: .75rem;
                        border:solid rgb(101,157,14) .03rem;
                        color:rgb(101,157,14);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .yugao-video{
                        margin-left: .3rem;
                        width:3.5rem;
                        height:1.3rem;
                        border-radius: .75rem;
                        border:solid rgb(101,157,14) .03rem;
                        color:rgb(101,157,14);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}