.cinemaDetail-root{
    .root-head{
        margin-top:.5rem;
        margin-left: 1rem;
        margin-bottom: .4rem;
        .head-title{
            text-align: left;
            font-size: .8rem;
            font-weight: 600;
        }
        .head-location{
            text-align:left;
            font-size:.6rem;
            font-weight:600;
            color:gray;
        }
        .head-feature{
            display: flex;
            justify-content: flex-start;
            span{
                font-size: .35rem;
                margin: .2rem .2rem .2rem 0;
                border:gray solid .02rem;
                padding:.1rem .2rem;
                border-radius: .1rem;
                color:gray;
            }
        }
    }
    .root-slider{
        width:50rem;;
        height:5rem;
        background: silver;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    
        .slider-item{
            margin-top:2rem;
            width:10rem;
            height:6rem;
            
            //transform:translateX(6rem);
            background: red;
            img{
                display: block;
                width:100%;
                height:100%;
            }
        }
    }
}