.movie-root{
    .movie-resume{
        position: relative;
        .movie-resume-image{
            position: absolute;
            top:-2rem;
            left:.8rem;
            height:7rem;
            width:5rem;
            z-index:99;
            img{
                display: block;
                height:100%;
                width:100%;
            }
        }
        .movie-resume-title{
            position:absolute;
            top:-2rem;
            left:6.5rem;
            font-size:.7rem;
            text-align: left;
            color:white;
            .movie-resume-title-cn{
                font-weight: 600;
            }
        }

        .movie-resume-content{
            display: flex;
            height:5rem;
            flex-direction: column;
            justify-content: space-between;
            position:absolute;
            left:6.5rem;
            top:0;
            font-size:.6rem;
            color:gray;
            font-weight: 800;
            text-align: left;

            div.oranged{
                color:orangered;
            }
            div.tags{
                display: flex;
                margin-top:.2rem;
                div{
                    font-size:.4rem;
                    border:solid .03rem gray;
                    border-radius: .1rem;
                    display: flex;
                    align-items: center;
                    margin-right: .1rem;
                    padding:0 .2rem;
                }
            }
        }
    }

    div.margin{
        height:5.5rem;
    }
}