.movie-root{
    padding-bottom: 2.5rem;
    .bg{
        position: absolute;
        top:0rem;
        left:0rem;
        bottom:0rem;
        right:0rem;
        z-index: -1;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            display: block;
            width:130%;
            height:130%;
            filter: blur(50px);
        }
    }
    .movie-resume{
        position: relative;
        .movie-resume-image{
            position: absolute;
            top:-2rem;
            left:.8rem;
            height:7rem;
            width:5rem;
            z-index:99;
            border:solid white .1rem;
            img{
                display: block;
                height:100%;
                width:100%;
            }
        }
        .movie-resume-title{
            position:absolute;
            top:-2rem;
            left:6.5rem;
            font-size:.7rem;
            text-align: left;
            color:white;
            .movie-resume-title-cn{
                font-weight: 600;
            }
        }

        .movie-resume-content{
            display: flex;
            height:5rem;
            flex-direction: column;
            justify-content: space-between;
            position:absolute;
            left:6.5rem;
            top:0;
            font-size:.6rem;
            color:gray;
            font-weight: 800;
            text-align: left;

            div.oranged{
                color:orangered;
            }
            div.tags{
                display: flex;
                margin-top:.2rem;
                div{
                    font-size:.4rem;
                    border:solid .03rem gray;
                    border-radius: .1rem;
                    display: flex;
                    align-items: center;
                    margin-right: .1rem;
                    padding:0 .2rem;
                }
            }
        }

        .movie-resume-rate{
            font-size:.6rem;
            position:absolute;
            top:-.4rem;
            right:.6rem;
            width:1.5rem;
            height:1.5rem;
            background:rgb(101,157,14);
            color:white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    div.margin{
        background: white;
        height:5.5rem;
    }

    .movie-story{
        font-size:.6rem;
        font-weight: 600;
        text-align: left;
        background:white;
        padding:.4rem .6rem;
    }

    .movie-chief{
        background: white;
        display: flex;
        padding:.3rem 0 .3rem .6rem;

        text-align: left;
        font-size:.8rem;
        overflow: auto;
        .movie-chief-director{
            display: flex;
            flex-direction: column;
            .director-title{
                margin:.3rem 0;
            }
            .director-content{
                .director-content-image{
                    position: relative;
                    img{
                        display: block;
                        width:4rem;
                        height:4rem;
                    }
                    .movie-chief-divider{
                        position: absolute;
                        top:0;
                        right:-.5rem;
                        height:4rem;
                        width:.03rem;
                        background: gray;
                    }
                }
                .director-content-text{
                    text-align: center;
                    p{
                        font-size:.6rem;
                    }
                }               
            }
        }    
        .movie-chief-actor{
            margin-left:1rem;
            .actor-title{
                margin:.3rem 0;
            }
            .actor-content{
                display:flex;
                .actor-item{
                    margin:0 .1rem 0 0;
                    .actor-item-image{
                        img{
                            display: block;
                            width:4rem;
                            height:4rem;
                        }
                    }
                    .actor-item-text{
                        width:4rem;
                        padding:0 .1rem;
                        text-align: center;
                        p{
                            white-space:nowrap; 
                            overflow:hidden; 
                            text-overflow:ellipsis;
                            font-size:.6rem;
                        }
                    }
                }
            }
        }
    }
}