.home-live-root{
    padding:.4rem .2rem;
    .home-live-head{
        display: flex;
        align-items: center;
        .left{
            font-size:1rem;
            color:black;
            text-align: left;
            flex-grow: 1;
        }
        .right{
            font-size: .8rem;
            color: gray;
            display: flex;
            align-items: center;
            img{
                margin-left:.3rem;
                width:.5rem;
                height:.5rem;
                display: block;
                float:right;
            }
        }
        
    }
}