.ticket-root{
    padding-bottom: 2.5rem;
    .ticket-head{
        background-color:rgb(28, 38, 53);
        .ticket-head-top{
            padding:.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            font-size: .7rem;
            .item-img-left{               
                display: flex;
                align-items: center;
                img{
                    margin-left:.4rem;
                    display: block;
                    width:.8rem;
                }
                width:4rem;
            }
            .item-swap{
                flex-grow: 2;
                display: flex;
                justify-content: center;
                color:gray;
                p{
                    margin:0 1rem;
                }
                p.active{
                    color:white;
                }
            }
            .item-img-right{
                img{
                    display:block;
                    width:1rem;
                    float:right;
                }
                width:4rem;
            }
        }
        .ticket-head-bottom{
            margin-top:.2rem;
            padding: .1rem 0;
            font-size: .8rem;
            color:rgba(175, 175, 175,.5);
            display:flex;
            justify-content: center;
            box-sizing: -box;
            p{
                padding:.2rem;
            }
            .ticket-head-bottom-left{
                flex-grow: 1;
            }
            .ticket-head-bottom-right{
                flex-grow: 1;
            }

            .active{
                border-bottom: solid white .05rem;
                color:white;
            }
        }

    }
}