.ticket-hot-root{
    .ticket-hot-item{
        display:flex;
        margin-left:.4rem;
        border-bottom:solid .03rem gray;
        position: relative;
        .image{
            padding:.4rem .3rem .4rem 0;
            margin-right:.2rem;
            img{
                display: block;
                height:5rem;
                width:3.2rem;
            }
        }

        .content{
            padding:.4rem 0;
            display: flex;
            flex-direction: column;
            text-align: left;
            p{
                font-size:.6rem;
                color:gray;
            }

            .title{
                font-size:.8rem;
                font-weight: 800;
                color:black;
            }
            .special{
                font-size:.7rem;
                color:orangered;
            }
            .tags{
                display: flex;
                margin-top:.2rem;
                div{
                    font-size:.4rem;
                    border:solid .03rem gray;
                    border-radius: .1rem;
                    display: flex;
                    align-items: center;
                    margin-right: .1rem;
                    padding:0 .2rem;
                }
            }
        }

        .rate{
            font-size:.7rem;
            font-weight: 600;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top:.3rem;
            right:.4rem;
            width:1.3rem;
            height:1.3rem;
        }

        .isTicket{
            position: absolute;
            bottom:.4rem;
            right:.2rem;
            font-size:.8rem;
            color:white;
            
            .ticket{
                display: flex;
                align-items: center;
                justify-content: center;
                width:3rem;
                height:1.5rem;
                border-radius: 1rem;
                background: orangered;
            }
            .noticket{
                display: flex;
                align-items: center;
                justify-content: center;
                width:3rem;
                height:1.5rem;
                border-radius: 1rem;
                background: rgb(101,157,14);
            }
        }
    }
}